<ul class="sidebar-nav list-group">
  {% if user.is_authenticated %}
    <li class="list-group-item">User: {{ user.get_username }}</li>
    <li class="list-group-item"><a href="{% url 'logout'%}?next={{request.path}}">Logout</a></li>
  {% else %}
    <li class="list-group-item"><a href="{% url 'login'%}?next={{request.path}}">Login</a></li>
  {% endif %}

  <br>

  <li class="list-group-item"><a href="{% url 'tasks:home' %}">Home</a></li>
  <li class="list-group-item"><a href="{% url 'tasks:worker-list' %}">All workers</a></li>
  <li class="list-group-item"><a href="{% url 'tasks:task-list' %}">All tasks</a></li>
  <li class="list-group-item"><a href="{% url 'tasks:position-list' %}">All position</a></li>
  <li class="list-group-item"><a href="{% url 'tasks:task-type-list' %}">All task types</a></li>
</ul>
