{% extends "base.html" %}
{% load crispy_forms_filters %}
{% block content %}
  <h1>
    {{ task.name }}
    <a href="{% url 'tasks:task-update' pk=task.id %}" class="btn btn-secondary link-to-page">
      Update
    </a>
    <a href="{% url 'tasks:task-delete' pk=task.id %}"  class="btn btn-danger link-to-page">
      Delete
    </a>
    {% if not task.is_completed %}
      <a href="{% url 'tasks:task-mark-completed' pk=task.id %}" class="btn btn-primary link-to-page">
        Mark this task as completed
      </a>
    {% endif %}
  </h1>
  <p>
    <strong>Task type:</strong>
    {{ task.task_type }}</p>
  <div>
    <strong>Status:</strong>
    {% if task.is_completed %}
      {% if task.before_deadline %}
        <p class="text-success">Completed</p>
      {% else %}
        <p class="text-danger">Completed after deadline</p>
      {% endif %}
    {% else %}
      {% if task.before_deadline %}
        <p>In progress</p>
      {% else %}
        <p class="text-danger">In progress (skipped deadline)</p>
      {% endif %}
    {% endif %}
  </div>
  <div>
    <strong>What we are doing?</strong>
    <p>{{ task.description }}</p>
  </div>
  <h1>
    Workers assigned to this task:
    {% if task in user.tasks.all %}
      <a href="{% url 'tasks:task-assign' pk=task.id %}" class="btn btn-danger link-to-page">
        Delete me from this task
      </a>
    {% else %}
      <a href="{% url 'tasks:task-assign' pk=task.id %}" class="btn btn-success link-to-page">
        Assign me from this task
      </a>
    {% endif %}

  </h1>
  <hr>
  <ul>
    {% for worker in task.assignees.all %}
      <li><a href="{{ worker.get_absolute_url }}">{{ worker.username }}</a> ({{ worker.first_name }} {{ worker.last_name }})</li>
    {% endfor %}
  </ul>

{% endblock %}
